@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  body {
    @apply antialiased font-sans text-slate-700 leading-relaxed bg-white;
  }
  

  .button-primary {
    @apply px-6 py-2 text-sm font-semibold bg-blue-600 text-white rounded-lg hover:bg-blue-700 disabled:opacity-50 disabled:cursor-not-allowed transition-colors duration-200;
  }

  .button-sec {
    @apply px-6 py-2 text-sm font-medium bg-white border border-slate-300 text-slate-600 rounded-lg hover:bg-slate-100 disabled:opacity-50 disabled:cursor-not-allowed transition-colors duration-200;
  }

  .st-form label {
    @apply block text-sm text-slate-500 font-medium;
  }
  /* @media (min-width: 768px) {
    .st-form label {
      @apply block text-base text-slate-500 font-medium;
    }
  } */
  .st-form input,
  .st-form textarea {
    @apply px-4 py-3 w-full text-sm font-medium border-slate-300 rounded-md shadow-inner placeholder:text-slate-400 focus:ring-slate-300 focus:border-slate-300;
  }

  .st-form input[type="radio"] {
    @apply h-4 w-4 p-2 rounded-full;
  }

  .st-form input[type="checkbox"] {
    @apply h-4 w-4 p-2 rounded;
  }

  .st-form .invalid {
    @apply absolute right-0 top-0 text-sm text-red-500 font-medium italic;
  }

  /* react-select */
  .st-react-select {
    @apply  text-sm font-medium;
  }
  .st-react-select .react-select__control {
    @apply border border-slate-300 rounded-md shadow-inner hover:outline-none hover:border-slate-300 cursor-pointer;
  }
  .react-select__control .react-select__value-container {
    @apply px-4 py-3;
  }
  .react-select__control .react-select__input-container {
    @apply m-0 p-0 leading-3;
  }
  .react-select__control .react-select__input {
    @apply ring-0 shadow-none focus:ring-0;
  }
  .react-select__control .react-select__indicator {
    @apply px-2 py-0 text-slate-500;
  }
  .react-select__control .react-select__indicator-separator {
    @apply bg-transparent;
  }
  .react-select__control .react-select__placeholder {
    @apply text-slate-400;
    line-height: 20px;
  }
  .react-select__control .react-select__single-value {
    @apply text-slate-700;
    line-height: 20px;
  }
  .react-select--is-disabled.st-react-select .react-select__control {
    @apply bg-slate-100 opacity-70 cursor-not-allowed;
  }
  .react-select__menu {
    @apply border-slate-300;
  }
  .react-select__menu .react-select__option {
    @apply hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100;
  }
  .react-select__menu .react-select__option.react-select__option--is-focused {
    @apply bg-slate-100;
  }
  .react-select__menu .react-select__option.react-select__option--is-selected {
    @apply bg-blue-600 hover:bg-blue-600;
  }

}

canvas{
  /* width: 300px;
  height: 100px; */
  background-color: bisque;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
      width: 5px;
      display: none;
  }

  /* .scrollbar::-webkit-scrollbar-track {
      background: #111827;
  } */

  .scrollbar::-webkit-scrollbar-thumb {
      background: #082f49;
      border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #0c4a6e;
  }
}